<a href="https://colab.research.google.com/github/BrnCode/Exercicio-Awari/blob/main/Desafios_em_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np


### Desafio 1

Escreva um programa em Python para contabilizar a quantidade de ocorrências de cada palavra.

In [ ]:
palavras = ['red', 'green', 'black', 'pink', 'black', 'white', 'black', 'eyes',
            'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange',
            'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink',
            'white', 'orange', "orange", 'red']

In [ ]:
from collections import OrderedDict
final_list = list(OrderedDict.fromkeys(palavras))
final_list

['red', 'green', 'black', 'pink', 'white', 'eyes', 'orange']

In [ ]:
repeticoes = []
for i in final_list:
    palavras.count(i)
    print(palavras.count(i))
    integer = int(palavras.count(i))
    repeticoes.append(integer)

4
4
5
6
5
1
4

In [ ]:
cores = final_list
repeticoes = repeticoes
dic = dict(zip(cores, repeticoes))
dic

{'black': 5,
 'eyes': 1,
 'green': 4,
 'orange': 4,
 'pink': 6,
 'red': 4,
 'white': 5}

### Desafio 2

Escreva uma função que receba um número inteiro de horas e converta esse número para segundos.

Exemplo:

convert(5) ➞ 18000

convert(3) ➞ 10800

convert(2) ➞ 7200

In [ ]:
def convert(num):
    try:
        inteiro = num #int(input("Insira um numero inteiro de horas: "))
    except ValueError as err:
        print('Não inteiro inserido') # value error

    seg = inteiro*60*60
    print(f"Sao {seg} segundos")

In [ ]:
convert(2)

Sao 7200 segundos


###Desafio 3

Escreva uma função que receba uma lista como entrada e retorne uma nova lista ordenada e sem valores duplicados.

In [ ]:
lista = [1,2,3,4,3,30,3,4,5,6,9,3,2,1,2,4,5,15,6,6,3,13,4,45,5]

In [ ]:
def ordena(listinha):
    from collections import OrderedDict
    final_lista = list(OrderedDict.fromkeys(lista))
    #final_lista
    print(final_lista)

In [ ]:
ordena(lista)

[1, 2, 3, 4, 30, 5, 6, 9, 15, 13, 45]


###Desafio 4

Escreva uma função cuja entrada é uma string e a saída é outra string com as palavras em ordem inversa.

Exemplo:

inverte_texto("Python é legal") ➞ "legal é Python"

In [ ]:
def inverte_texto(texto):
    cortar = texto
    print((cortar.split(' '))[::-1])

In [ ]:
inverte_texto('tudo que nois tem é nois')

['nois', 'é', 'tem', 'nois', 'que', 'tudo']


###Desafio 5

Você trabalha em uma loja de sapatos e deve contatar uma série de clientes. Seus números de telefone estão na lista abaixo. No entanto, é possível notar números duplicados na lista dada. Você seria capaz de remover estes duplicados para evitar que clientes sejam contatados mais de uma vez?

In [ ]:
numeros_telefone = ['(765) 368-1506',
                    '(285) 608-2448',
                    '(255) 826-9050',
                    '(554) 994-1517',
                    '(285) 608-2448',
                    '(596) 336-5508',
                    '(511) 821-7870',
                    '(410) 665-4447',
                    '(821) 642-8987',
                    '(285) 608-2448',
                    '(311) 799-3883',
                    '(935) 875-2054',
                    '(464) 788-2397',
                    '(765) 368-1506',
                    '(650) 684-1437',
                    '(812) 816-0881',
                    '(285) 608-2448',
                    '(885) 407-1719',
                    '(943) 769-1061',
                    '(596) 336-5508',
                    '(765) 368-1506',
                    '(255) 826-9050']

In [ ]:
set(numeros_telefone)

{'(255) 826-9050',
 '(285) 608-2448',
 '(311) 799-3883',
 '(410) 665-4447',
 '(464) 788-2397',
 '(511) 821-7870',
 '(554) 994-1517',
 '(596) 336-5508',
 '(650) 684-1437',
 '(765) 368-1506',
 '(812) 816-0881',
 '(821) 642-8987',
 '(885) 407-1719',
 '(935) 875-2054',
 '(943) 769-1061'}


###Desafio 6

Crie uma função que receba duas listas e retorne uma lista que contenha apenas os elementos comuns entre as listas (sem repetição). A função deve suportar lista de tamanhos diferentes.

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
def junta(q, p):
    c = list(set(q) & set(p))
    print(c)

In [ ]:
junta(a, b)

[1, 2, 3, 5, 8, 13]


###Desafio 7

Um professor de universidade tem uma turma com os seguintes números de telefones:

In [ ]:
telefones_alunos = ['(873) 810-8267', '(633) 244-7325', '(300) 303-5462', 
                    '(938) 300-8890', '(429) 264-7427', '(737) 805-2326', 
                    '(768) 956-8497', '(941) 225-3869', '(203) 606-9463', 
                    '(294) 430-7720', '(896) 781-5087', '(397) 845-8267', 
                    '(788) 717-6858', '(419) 734-4188', '(682) 595-3278', 
                    '(835) 955-1498', '(296) 415-9944', '(897) 932-2512', 
                    '(263) 415-3893', '(822) 640-8496', '(640) 427-2597', 
                    '(856) 338-7094', '(807) 554-4076', '(641) 367-5279', 
                    '(828) 866-0696', '(727) 376-5749', '(921) 948-2244', 
                    '(964) 710-9625', '(596) 685-1242', '(403) 343-7705', 
                    '(227) 389-3685', '(264) 372-7298', '(797) 649-3653', 
                    '(374) 361-3844', '(618) 490-4228', '(987) 803-5550', 
                    '(228) 976-9699', '(757) 450-9985', '(491) 666-5367']



Ele criou um grupo do WhatsApp. No entanto, somente os seguintes números entraram no grupo.

In [ ]:
entraram_no_grupo = ['(596) 685-1242', '(727) 376-5749', '(987) 803-5550', 
                     '(633) 244-7325', '(828) 866-0696', '(263) 415-3893', 
                     '(203) 606-9463', '(296) 415-9944', '(419) 734-4188', 
                     '(618) 490-4228', '(682) 595-3278', '(938) 300-8890', 
                     '(264) 372-7298', '(768) 956-8497', '(737) 805-2326', 
                     '(788) 717-6858', '(228) 976-9699', '(896) 781-5087',
                     '(374) 361-3844', '(921) 948-2244', '(807) 554-4076', 
                     '(822) 640-8496', '(227) 389-3685', '(429) 264-7427', 
                     '(397) 845-8267']



Você seria capaz de criar uma lista dos alunos que ainda não entraram no grupo para que sejam contatados individualmente?

In [ ]:
list(set(telefones_alunos) - set(entraram_no_grupo))

['(300) 303-5462',
 '(757) 450-9985',
 '(294) 430-7720',
 '(873) 810-8267',
 '(897) 932-2512',
 '(941) 225-3869',
 '(640) 427-2597',
 '(964) 710-9625',
 '(641) 367-5279',
 '(797) 649-3653',
 '(856) 338-7094',
 '(491) 666-5367',
 '(403) 343-7705',
 '(835) 955-1498']


###Desafio 8

Escreva um script Python para encontrar as 10 palavras mais longas em um arquivo de texto. O arquivo .txt está localizado na mesma pasta do projeto (texto.txt).

https://github.com/awarischool/br-python-challenges/blob/master/texto.txt

In [ ]:
path = '/content/drive/MyDrive/Awari/Tarefa Plataforma/texto.txt'
with open(path) as f:
    lines = f.readlines()
lines

['What is Python language                                                \n',
 'Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than possible in \n',
 'languages such as C++ or Java. \n',
 'Python supports multiple programming paradigms, including object-oriented, imperative and functional programming or procedural styles.It features a dynamic type system and automatic memory management and has a large and comprehensive standard library.The best way we learn anything is by practice and exercise questions. We  have started this section for those (beginner to intermediate) who are familiar with Python.']

In [ ]:
linhas = list(lines)
linhas

['What is Python language                                                \n',
 'Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than possible in \n',
 'languages such as C++ or Java. \n',
 'Python supports multiple programming paradigms, including object-oriented, imperative and functional programming or procedural styles.It features a dynamic type system and automatic memory management and has a large and comprehensive standard library.The best way we learn anything is by practice and exercise questions. We  have started this section for those (beginner to intermediate) who are familiar with Python.']

In [ ]:
for i in linhas:
    print(i)

What is Python language

Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than possible in

languages such as C++ or Java.

Python supports multiple programming paradigms, including object-oriented, imperative and functional programming or procedural styles.It features a dynamic type system and automatic memory management and has a large and comprehensive standard library.The best way we learn anything is by practice and exercise questions. We  have started this section for those (beginner to intermediate) who are familiar with Python.

In [ ]:
import re
chars = "!#$%^&*(),.'" 
linhas1 = []
for i in linhas:
    linhas1 = re.sub(r"[^a-zA-Z0-9]"," ", i)

linhas2 = linhas1.split(' ')

In [ ]:
num_c = []
for i in linhas2:
    num_c.append(len(i))

num_c

In [ ]:
data = pd.DataFrame(list(zip(linhas2, num_c)))
data

              0   1
0        Python   6
1      supports   8
2      multiple   8
3   programming  11
4     paradigms   9
..          ...  ..
62          are   3
63     familiar   8
64         with   4
65       Python   6
66                0

[67 rows x 2 columns]

In [ ]:
data.sort_values(by=[1], ascending=False).head(10)

                0   1
32  comprehensive  13
59   intermediate  12
13    programming  11
3     programming  11
15     procedural  10
12     functional  10
10     imperative  10
26     management  10
46      questions   9
6       including   9

In [ ]:
data1 = data.drop_duplicates()

In [ ]:
data1.sort_values(by=[1], ascending=False).head(10)

                0   1
32  comprehensive  13
59   intermediate  12
3     programming  11
26     management  10
10     imperative  10
12     functional  10
15     procedural  10
4       paradigms   9
24      automatic   9
6       including   9


###Desafio 9

Escreva uma função que retorne a soma dos múltiplos de 3 e 5 entre 0 e um número limite, que vai ser utilizado como parâmetro. \ Por exemplo, se o limite for 20, ele retornará a soma de 3, 5, 6, 9, 10, 12, 15, 18, 20.

In [ ]:
def soma_div(num0):
    num2 = 0
    num1 = []
    for i in range(0, 20):
        if (i%3 == 0):
            num1.append(i)
        elif (i%5 == 0):
            num1.append(i)
        else:
            pass
    for i in num1:
        num2 = num2+i

    print(num2)

In [ ]:
soma_div(190)

78

###Desafio 10

Dada uma lista, divida-a em 3 partes iguais e reverta a ordem de cada lista.

Exemplo:

Entrada: \ sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Saída: \ Parte 1 [8, 45, 11] \ Parte 2 [12, 14, 23] \ Parte 3 [89, 45, 78]

In [ ]:
import math

lista1 = int(input('Quantos numeros haverá na lista? '))
lista2 = []
for i in range(lista1):
    i = int(input('Digite 1 numero: '))
    lista2.append(i)
print(lista2)

div = math.ceil(lista1/3)
split = np.array_split(lista2, div)

lista3 = []
for i in split:
    lista3.append(sorted(i.tolist(), key=int, reverse=True))

lista3

Quantos numeros haverá na lista? 5
Digite 1 numero: 3
Digite 1 numero: 8
Digite 1 numero: 9
Digite 1 numero: 4
Digite 1 numero: 54
[3, 8, 9, 4, 54]

[[9, 8, 3], [54, 4]]


###Desafio 11

Dados uma sequência com n números inteiros, determinar quantos números da sequência são pares e quantos são ímpares.
Por exemplo, para a sequência:

6   2   7  -5   8  -4

a sua função deve retornar o número 4 para o número de pares e 2 para o de ímpares.
A saída deve ser um tupla contendo primeiramente o número de pares e em seguida o número de ímpares.
Para o exemplo anterior, a saída seria (4, 2).

In [ ]:
lista1 = int(input('Quantos numeros haverá na lista? '))
lista2 = []
for i in range(lista1):
    i = int(input('Digite 1 numero: '))
    lista2.append(i)
print(lista2)


par = 0
impar = 0
for i in lista2:
    if (i%2 == 0):
        par = par+1
    else:
        impar = impar+1
print(f'({par}, {impar})')

Quantos numeros haverá na lista? 5
Digite 1 numero: -9
Digite 1 numero: -7
Digite 1 numero: 8
Digite 1 numero: -16
Digite 1 numero: 3
[-9, -7, 8, -16, 3]
(2, 3)

###Desafio 12

Escreva uma função em Python para verificar a validade de uma senha.

A senha deve ter:

    Pelo menos 1 letra entre [a-z] e 1 letra entre [A-Z].
    Pelo menos 1 número entre [0-9].
    Pelo menos 1 caractere de [$ # @].
    Comprimento mínimo de 6 caracteres.
    Comprimento máximo de 16 caracteres.

Entradas: "12345678", "J3sus0", "#Te5t300", "J*90j12374", "Michheeul", "Monk3y6"

A saída deve ser a senha e um texto indicando se a senha é válida ou inválida:

"1234" - Senha inválida
"Qw#1234" - Senha válida

In [20]:
senhas = ["Qw#1234", "12345678", "J3sus0", "#Te5t300", "J*90j12374", "Michheeul", "Monk3y6"]

In [ ]:
for senha in senhas:

In [32]:
def valida_senha(senha):
    import re 
    flag = 0
    while True:
        if (len(senha) <= 6):
            flag=-1
            break
        elif (len(senha) >= 16):
            flag=-1
            break
        elif not re.search("[a-z]", senha): 
            flag = -1
            break
        elif not re.search("[A-Z]", senha): 
            flag = -1
            break
        elif not re.search("[0-9]", senha): 
            flag = -1
            break
        elif not re.search("[$#@]", senha): 
            flag = -1
            break
        else:
            print('Senha valida')
            break

    if flag==-1:
        print('Senha invalida')

In [33]:
for senha in senhas:
    valida_senha(senha)

Senha valida
Senha invalida
Senha invalida
Senha valida
Senha invalida
Senha invalida
Senha invalida